section{
    background: #f58434c7;
    border-radius: 20px;
    padding: 2rem;
    width: 50rem;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    
    }   
    #s3{
        text-align: center;
    }
    .s1{
        margin-top: 1rem;
    }